/*
# in this directory, only accept source, Makefile and README
!/.gitignore
!/*.c
!/*.cpp
!/*.h
!/*.sh
!/Makefile
!/README.md
!/module.type
!/COPYRIGHT
!/PEOPLE-METATOMIC
!/flags-from-python.py
!external/
!/module.yml
!/module.md
