

function plumed_preliminary_test(){
# check if the README contains the word AMBER and if amber has been already configured
  grep -q Amber README 1>/dev/null 2>/dev/null
}

function plumed_patch_info(){
cat << EOF

PLUMED can be incorporated into amber (sander module) using the standard patching procedure.
Patching must be done in the root directory of amber _before_
compilation.

To enable PLUMED in a sander simulation one should use
add to the cntrl input namelist these two fields:

plumed=1 , plumedfile='plumed.dat'

The first is switching plumed on, the second is specifying the name of the plumed
input file.

This patch is compatible with the MPI version of sander and support
multisander. However, replica exchange is not supported.
Multisander can thus only be used for multiple walkers
metadynamics or for ensemble restraints.

For more information on amber you should visit http://ambermd.org

EOF
}

