function plumed_preliminary_test(){
# check if the README contains the word AMBER, pmemd module is available and if amber has been already configured
  grep -q Amber README 1>/dev/null 2>/dev/null && test -d src/pmemd/src && test -f config.h
}

function plumed_patch_info(){
cat << EOF

<p>One PLUMED is compiled you can incorporate it into AMBER (pmemd module) 
by switching to the root directory for AMBER. 

@PATCHINSTRUCTIONS@

<p>To enable PLUMED in a pmemd simulation one should add the following two fields to the cntrl input namelist:</p>
<pre class="fragment">
plumed=1 , plumedfile='plumed.dat'
</pre>
<p>The first of these commands switches PLUMED on, the second, meanwhile, specifies the name of the PLUMED 
input file. </p>

<p>The PLUMED patch is compatible with the MPI, CUDA and CUDA + MPI versions of pmemd.</p>

<p>For more information on amber you should visit <a href="http://ambermd.org">http://ambermd.org</a></p>.

EOF
}
