function plumed_preliminary_test(){
# check if the README contains the word AMBER, pmemd module is available and if amber has been already configured
  grep -q Amber README 1>/dev/null 2>/dev/null && test -d src/pmemd/src && test -f config.h
}

function plumed_patch_info(){
cat << EOF

PLUMED can be incorporated into AMBER (pmemd module) using the standard patching procedure.
Patching must be done in the root directory of amber _before_
compilation and after applying all updates.

To enable PLUMED in a pmemd simulation one should use
add to the cntrl input namelist these two fields:

plumed=1 , plumedfile='plumed.dat'

The first is switching PLUMED on, the second is specifying the name of the PLUMED 
input file.

This patch is compatible with the MPI, CUDA and CUDA + MPI versions of pmemd.

For more information on amber you should visit http://ambermd.org

EOF
}
