

function plumed_preliminary_test(){
# check if the README contains the word GROMACS and if gromacs has been already configured
  grep -q GROMACS README 1>/dev/null 2>/dev/null
}

function plumed_patch_info(){
cat << EOF
A basic PLUMED interface is already present in GROMACS

This patch previes extra features to be implemented in the official PLUMED integration in the next GROMACS version

Patching must be done in the gromacs root directory  _before_ the cmake command is invoked.

The GROMACS integration has some improvements with the compatibility wiht the multi-threading implementation
but it is still preferable to configure gromacs as

cmake -DGMX_THREAD_MPI=OFF and add -DGMX_MPI=ON if you want to use MPI.

To enable PLUMED in a gromacs simulation one should use
mdrun with an extra -plumed flag. The flag can be used to
specify the name of the PLUMED input file, e.g.:

gmx mdrun -plumed plumed.dat

For more information on gromacs you should visit http://www.gromacs.org

EOF
}

plumed_before_patch(){
  plumed_patch_info
}

PLUMED_PATCH_NO_INCLUDE=true

#this will be added later
#PLUMED_PATCH_EXTRA_FILES="src/external/plumed/PlumedInclude.h src/external/plumed/PlumedKernel.cpp src/gromacs/applied_forces/plumed/PlumedOutside.cpp src/gromacs/applied_forces/plumed/PlumedOutside.h"
