

function plumed_preliminary_test(){
# check if the README contains the word GROMACS and if gromacs has been already configured
  grep -q GROMACS README 1>/dev/null 2>/dev/null
}

function plumed_patch_info(){
cat << EOF
PLUMED can be incorporated into gromacs using the standard patching procedure.
Patching must be done in the gromacs root directory  _before_ the cmake command is invoked.

To enable PLUMED in a gromacs simulation one should use
mdrun with an extra -plumed flag. The flag can be used to
specify the name of the PLUMED input file, e.g.:

mdrun -plumed plumed.dat

For more information on gromacs you should visit http://www.gromacs.org

This is an experimental patch to perform Hamiltonian replica exchange with GROMACS
Implementation described in:
  Bussi, Hamiltonian replica-exchange in GROMACS: a flexible implementation,
  Mol. Phys., DOI: 10.1080/00268976.2013.824126 (2013)

To use it:
* Prepare separate topologies (topol0.tpr, topol1.tpr, etc)
* Run a normal replica exchange with gromacs adding the flag "-hrex" on the command line

Suggested checks:
* Try with several identical force fields and different seed/starting point
  Acceptance should be 1.0

Warnings:
* Topologies should have the same number of atoms, same masses and same constraint topology
* Choose neighbor list update that divides replex

EOF
}

plumed_before_patch(){
  plumed_patch_info
}

