

function plumed_preliminary_test(){
# check if the README contains the word GROMACS and if gromacs has been already configured
  grep -q GROMACS README 1>/dev/null 2>/dev/null
}

function plumed_patch_info(){
cat << EOF
<p> If you install libxdrfile before configuring, making and installing PLUMED will be able to write trr/xtc file, which may make analysis easier.
For this to work you will need to ensure that the <code>./configure</code> script is detecting the libxdrfile file.</p>

<p>PLUMED can be incorporated into gromacs by switching to the gromacs root directory before running the cmake command.

@PATCHINSTRUCTIONS@

<p>On clusters you may want to patch gromacs using the static version of PLUMED.  If you do so, however, 
building gromacs can result in multiple errors. One possible solution is to configure gromacs
using these additional options: </p>
<pre class="fragment">
cmake -DBUILD_SHARED_LIBS=OFF -DGMX_PREFER_STATIC_LIBS=ON
</pre>
<p>To enable PLUMED in a gromacs simulation one should use mdrun with an extra -plumed flag. The flag can be used to
specify the name of the PLUMED input file, e.g.:</p>
<pre class="fragment">
gmx mdrun -plumed plumed.dat
</pre>
<p>For more information on gromacs you should visit <a href="http://www.gromacs.org">http://www.gromacs.org</a></p>.

EOF
}

plumed_before_patch(){
  plumed_patch_info
}

