

function plumed_preliminary_test(){
# check if the README contains the word GROMACS and if gromacs has been already configured
  grep -q GROMACS README 1>/dev/null 2>/dev/null
}

function plumed_patch_info(){
  echo ""
  echo "PLUMED can be incorporated into gromacs using a simple patching procedure."
  echo "Patching must be done _before_ the cmake command is invoked"
  echo
  echo "For more information on gromacs you should visit http://www.gromacs.org"
}
