

function plumed_preliminary_test(){
# check if the README contains the word GROMACS and if gromacs has been already configured
  grep -q GROMACS README 1>/dev/null 2>/dev/null && test -f src/kernel/Makefile
}

function plumed_before_patch(){
  mv src/kernel/Makefile src/kernel/Makefile.plumedbck
  echo "Ad-hoc modification src/kernel/Makefile - saved to src/kernel/Makefile.plumedbck"
  awk 'BEGIN{
     print "include ../../Plumed.inc"
   }{if($1=="mdrun_LDADD" && $2=="="){print $0" $(PLUMED_LOAD) "}else{print }}' src/kernel/Makefile.plumedbck > src/kernel/Makefile
}

function plumed_after_revert(){
  echo "Restoring src/kernel/Makefile from src/kernel/Makefile.plumedbck"
  mv src/kernel/Makefile.plumedbck src/kernel/Makefile
}

function plumed_patch_info(){
  echo ""
  echo "PLUMED can be incorporated into gromacs using a simple patching procedure."
  echo "Patching must be done _after_ gromacs has been configured but  _before_ gromacs is compiled"
  echo 
  echo "For more information on gromacs you should visit http://www.gromacs.org"
}
