

function plumed_preliminary_test(){
# check if the README contains the word LAMMPS
  grep -q LAMMPS README 1>/dev/null 2>/dev/null
}

function plumed_before_patch(){
  mkdir src/USER-PLUMED
  test -d $otherfiles/ && cp $otherfiles/* src/USER-PLUMED/
}

function plumed_after_revert(){
  rm -fr src/USER-PLUMED/
}

