

function plumed_preliminary_test(){
# check if the README contains the word LAMMPS
  grep -q LAMMPS README 1>/dev/null 2>/dev/null
}

function plumed_before_patch(){
  mkdir src/USER-PLUMED
  test -d $otherfiles/ && cp $otherfiles/* src/USER-PLUMED/
}

function plumed_after_revert(){
  rm -fr src/USER-PLUMED/
}

function plumed_patch_info(){
cat << EOF

PLUMED can be incorporated into LAMMPS using a simple patching procedure.
Patching must be done _before_ LAMMPS is configured.
After patching, one should enable PLUMED using the command
make yes-user-plumed
In the same way, before reverting one should disable PLUMED using the command
make no-user-plumed

Also notice that command "fix plumed" should be used in lammps input
file *after* the relevant input parameters have been set (e.g. after "timestep" command)

\bug The provided patch does not pass the virial correctly to PLUMED (see https://github.com/plumed/plumed2/issues/377).
     If you need to perform constant pressure simulations you should download a LAMMPS version newer than November 2018, where the mentioned bug
     has been fixed, that natively supports PLUMED 2.4.

See also http://lammps.sandia.gov/doc/Section_commands.html for
further info on processing LAMMPS input, as well as
this discussion on github: http://github.com/plumed/plumed2/issues/67.

For more information on LAMMPS you should visit http://lammps.sandia.gov/
EOF
}
