

function plumed_preliminary_test(){
# check if the README.txt contains the word NAMD
  grep -q NAMD README.txt 1>/dev/null 2>/dev/null && test -f */Make.config
}

function plumed_patch_info(){
cat << EOF

To enable PLUMED in a NAMD simulation one should add the following lines in the NAMD configuration file
(often named as xxx.namd or xxx.conf) and run the plumed-patched version of NAMD with it:

\verbatim
plumed on
plumedfile plumed.dat
\endverbatim

The first line tells NAMD to run with PLUMED and the second line specifies the PLUMED input file.

\bug NAMD does not currently take into account virial contributions
from PLUMED. Please use constant volume simulations only.

For more information on NAMD you should visit http://www.ks.uiuc.edu/Research/namd/

EOF
}

plumed_ignore_mpi=yes

