

function plumed_preliminary_test(){
# check if the README.txt contains the word NAMD
  grep -q NAMD README.txt 1>/dev/null 2>/dev/null && test -f */Make.config
}

function plumed_patch_info(){
  echo "\bug NAMD does not currently take into account virial contributions"
  echo "from PLUMED. Please use constant volume simulations only"
  echo ""
  echo "For more information on NAMD you should visit http://www.ks.uiuc.edu/Research/namd/"
}

plumed_ignore_mpi=yes

