

function plumed_preliminary_test(){
# check if the README.md contains the word ESPRESSO and if qe has been already configured
  grep -q ESPRESSO  README.md 1>/dev/null 2>/dev/null && test -f make.inc 
}

function plumed_before_patch(){
cp make.inc make.inc.plumedbck
PWD=`pwd`
echo "include  ${PWD}/Plumed.inc ">make.inc
awk '{if($1=="QELIBS" && $2=="="){sub("=","= $(PLUMED_LOAD)"); print}else{print }}' make.inc.plumedbck >> make.inc
}

function plumed_after_revert(){
  mv make.inc.plumedbck make.inc
}

function plumed_patch_info(){
  echo ""
  echo "For more information on Quantum Espresso you should visit http://www.quantum-espresso.org"
  echo "This patch only works using the ./configure + make workflow."
  echo "The newer CMake workflow is not supported yet."
}

