.DS_Store
*~
*.o
*.a
*.d
*.cppdep
*.cdep
*.so
*.tmp
*.dylib
*.dll
*.sw?
*.exe
*.gcda
*.gcno
*.bak
a.out
makefile.dep
.ipynb_checkpoints
/Makefile.conf
/sourceme.sh
/tmp
/codes
/config.*
/autom4*
/stamp-h
