/*
# in this directory only accept tests that test the plumed core
!/.gitignore
!/Makefile
!/README
!/adjmat
!/fourier
!/function
!/annfunc
!/basic
!/core
!/contour
!/crystdistrib
!/dimred
!/eds
!/envsim
!/drr
!/logmfd
!/mapping
!/maze
!/multicolvar
!/python
!/refdist
!/secondarystructure
!/trajectories
!/scripts
!/symfunc
!/landmarks
!/molfile_plugin
!/pamm
!/isdb
!/ves
!/funnel
!/opes
!/tools
!/sasa
!/s2cm
!/pytorch
!/membranefusion
!/volumes
!/gridtools
!/clusters
!/unittest
!/wham
# These files we just want to ignore completely
tmp
report.txt
