/*
# in this directory only accept tests that test the plumed core
!/.gitignore
!/Makefile
!/README
!/adjmat
!/function
!/analysis
!/annfunc
!/basic
!/crystallization
!/dimred
!/eds
!/drr
!/logmfd
!/mapping
!/maze
!/multicolvar
!/python
!/secondarystructure
!/trajectories
!/scripts
!/manyrestraints
!/molfile_plugin
!/pamm
!/isdb
!/ves
# These files we just want to ignore completely
tmp
report.txt
