/*

# Only track modules that are part of the plumed core
!/Makefile
!/README
!/adjmat
!/analysis
!/bias
!/blas
!/cltools
!/colvar
!/config
!/core
!/crystallization
!/eds
!/function
!/generic
!/gridtools
!/imd
!/lapack
!/lepton
!/lib
!/main
!/maketools
!/mapping
!/manyrestraints
!/molfile
!/multicolvar
!/pamm
!/reference
!/secondarystructure
!/setup
!/tools
!/vatom
!/vesselbase
!/wrapper
!/header.sh
!/release.sh
!/astyle.sh


# And just ignore these files
*.xxd
/*.on
/*.off
