/*

# Only track modules that are part of the plumed core
!/Makefile
!/README
!/adjmat
!/analysis
!/annfunc
!/asmjit
!/bias
!/blas
!/cltools
!/colvar
!/config
!/core
!/crystallization
!/dimred
!/drr
!/eds
!/function
!/generic
!/gridtools
!/imd
!/isdb
!/lapack
!/lepton
!/logmfd
!/lib
!/main
!/maketools
!/mapping
!/manyrestraints
!/maze
!/molfile
!/multicolvar
!/opes
!/python
!/pamm
!/piv
!/reference
!/secondarystructure
!/setup
!/tools
!/vatom
!/ves
!/vesselbase
!/wrapper
!/header.sh
!/release.sh
!/astyle.sh
!/funnel
!/fisst


# And just ignore these files
*.xxd
/*.on
/*.off
