name: python tests

on:
  workflow_call:

env:
# on CI, better dump stack trace in case there is an error
  PLUMED_STACK_TRACE: yes
# use two threads for openMP tests
  PLUMED_NUM_THREADS: 2
# these are used to build required packages
  CC: gcc
  CXX: g++

jobs:
  linux-build-plumed:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - uses: actions/cache@v4
      with:
        path: ~/.ccache
        key: ccache-python-linux-${{ github.sha }}
        restore-keys: ccache-python-linux-
    - name: Removed unused stuff
      run: |
        df -h
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /usr/local/lib/android
        sudo rm -rf /opt/ghc
        df -h
    - name: Set paths
      run: |
        echo "$HOME/opt/bin" >> $GITHUB_PATH
        # path required for pytest:
        echo "$HOME/.local/bin" >> $GITHUB_PATH
        echo "PYTHONPATH=$HOME/opt/lib/plumed/python:$PYTHONPATH" >> $GITHUB_ENV
        echo "CPATH=$HOME/opt/include:$CPATH" >> $GITHUB_ENV
        echo "INCLUDE=$HOME/opt/include:$INCLUDE" >> $GITHUB_ENV
        echo "LIBRARY_PATH=$HOME/opt/lib:$LIBRARY_PATH" >> $GITHUB_ENV
        echo "LD_LIBRARY_PATH=$HOME/opt/lib:$LD_LIBRARY_PATH" >> $GITHUB_ENV
        echo "CCACHE_DIR=$HOME/.ccache/" >> $GITHUB_ENV
    - name: Install generic packages
      run: |
        sudo apt-get update -qq
        sudo apt-get install -y libatlas-base-dev
        sudo apt-get install -y libfftw3-dev
        sudo apt-get install -y gsl-bin
        sudo apt-get install -y libgsl0-dev
        sudo apt-get install -y ccache
        sudo apt-get install -y libboost-serialization-dev

    #- name: Install MPI
    #  # install MPI at last since it modifies CC and CXX
    #  run: |
    #    sudo apt-get install -y libopenmpi-dev openmpi-bin
    #    echo "CC=mpicc" >> $GITHUB_ENV
    #    echo "CXX=mpic++" >> $GITHUB_ENV
    #    echo "OMPI_MCA_btl_base_warn_component_unused=0" >> $GITHUB_ENV
    #    echo "OMPI_MCA_btl_base_verbose=0" >> $GITHUB_ENV
    #    echo "OMPI_MCA_plm=isolated" >> $GITHUB_ENV
    #    echo "OMPI_MCA_btl_vader_single_copy_mechanism=none" >> $GITHUB_ENV
    #    echo "OMPI_MCA_rmaps_base_oversubscribe=yes" >> $GITHUB_ENV
    - name: Build PLUMED
      run: |
        ccache -s -M 100M
        ./configure CXX="ccache $CXX" --enable-boost_serialization --disable-dependency-tracking --enable-modules=all $PLUMED_CONFIG --prefix=$HOME/opt
        make -j 4
        make install
        # check for global symbols, see https://github.com/plumed/plumed2/issues/549
        make nmcheck
        ccache -s -M 100M
    - name: prepare the plumedArtifact
      run: |
        cd $HOME
        tar cf plumed.tar opt/

    - name: Upload the Plumed artifact
      uses: actions/upload-artifact@v6
      with:
        name: plumed-python-linux
        path: ~/plumed.tar
        retention-days: 1
    
  linux-test-python:
    needs:
    - linux-build-plumed
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        pyversion: [ "3.9", "3.10", "3.11", "3.12", "3.13" ]
    steps:
      #still checking out to install the plumed package and pycv
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.pyversion }}
        pip-install: pytest -r ./python/requirements_run.txt

    - name: Removed unused stuff
      run: |
        df -h
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /usr/local/lib/android
        sudo rm -rf /opt/ghc
        df -h

    - name: Install generic packages
      run: |
        sudo apt-get update -qq
        sudo apt-get install -y libatlas-base-dev
        sudo apt-get install -y libfftw3-dev
        sudo apt-get install -y gsl-bin
        sudo apt-get install -y libgsl0-dev
        sudo apt-get install -y libboost-serialization-dev

    - name: Download artifacts
      uses: actions/download-artifact@v7
      with:
        path: ~/
        name: plumed-python-linux

    - name: Install plumed
      run: |
          cd $HOME
          tar xf ~/plumed.tar
    - name: Setting up the environment
      run: |
        echo "$HOME/opt/bin" >> $GITHUB_PATH
        echo "$HOME/.local/bin" >> $GITHUB_PATH
        echo "CPATH=$HOME/opt/include:$CPATH" >> $GITHUB_ENV
        echo "INCLUDE=$HOME/opt/include:$INCLUDE" >> $GITHUB_ENV
        echo "LIBRARY_PATH=$HOME/opt/lib:$LIBRARY_PATH" >> $GITHUB_ENV
        echo "LD_LIBRARY_PATH=$HOME/opt/lib:$LD_LIBRARY_PATH" >> $GITHUB_ENV
        echo "PLUMED_KERNEL=$HOME/opt/lib/libplumedKernel.so" >> $GITHUB_ENV

    - name: Install the python pacakge
      working-directory: ./python
      run: |
         make PLUMED_VERSION
         pip install .
    - name: Run python tests
      working-directory: ./python
      run: |
         pytest -v
    - name: Compile and test pycv
      working-directory: ./plugins/pycv/
      run: |
            ln -s $(realpath ../../regtest/scripts) ./regtest/scripts
            make check
